<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <title>Cv</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Le Cv de {{ firstname | upper }}  {{ name | upper }}</h1>
        <p>
            Bonjour
        </p>
        <p>Je m'appelle {{ firstname }}  {{ name }}</p>
        <p>J'ai {{ age | abs }} ans </p>
        <p>Je suis de la section {{ section}} </p>
    </div>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
</div>
</body>
</html>